<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huge.web.mapper.SearchMapper">
<select id="searchBusInfo"  resultType="com.huge.web.pojo.BusInfo">
	select *
	from bus_info_tb
	<where>
		<if test="startCity!=null">
			start_city=#{startCity}
		</if>
		<if test="endCity!=null">
			and end_city=#{endCity}
		</if>
		<if test="startDate!=null">
			and start_date=#{startDate}
		</if>
		<if test="startTime!=null">
			and start_time &gt;=#{startTime}
		</if>
		<if test="endTime!=null">
			and start_time &lt;=#{endTime}
		</if>
		<if test="id!=0">
			and id=#{id}
		</if>
	</where>
</select>
</mapper>








